.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.navigation {
  background-color: rgb(141, 0, 71);
  margin: 0px;
  padding: 10px;
  padding-left: 7%;
  color: rgb(255, 230, 242);
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.welcome {
  text-shadow: 1px 1px 1px white, 3px 3px 2px hotpink;
}

.page-content {
  display: inline-block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(141, 0, 71);
  color: rgb(255, 230, 242);
  border: 5px dashed hotpink;
  padding-right: 10px;
  padding-left: 10px;
}

.details {
  font-size: 11px;
  width: 200px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
